@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to our Employee Management System.</h1><br />
<h2>This application allows capturing of personal employee information.</h2><br />
<h3><a href="/employee">Click here to navigate view registered employees.</a></h3>  